# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Node.js
/frontend/node_modules/
/server/node_modules/

# Build output
/frontend/build/
/server/build/

# Environment variables
.env

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db
# IDE/Editor specific files
.vscode/
.idea/



