.active {
   background-color: #1d4ed8;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #0f172a;
   
}

.title {
   font-size: 1.5rem;
   margin: 1rem;
   font-weight: bold;
   text-decoration: none;
   color: white;
}

.navLinks {
   display: flex;
}

.navLinks ul {
   display: flex;
   margin: 0;
   padding: 0;
}

.navLinks ul li {
   list-style: none;
}

.navLinks ul li a {
   display: block;
   text-decoration: none;
   color: white;
   padding: 0.5rem;
   margin: 0 0.5rem;
   border-radius: 0.5rem;
}

.navLinks ul li a:not(.active):hover {
   background-color: #0a2c98;
}
